body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    margin-left : 10px;
    margin-right : 10px;
    padding-bottom : 1px;
    padding-left : 1px;
    padding-right : 1px;
    padding-top : 1px;
}

table {

    border-spacing : 0px;

}

.tdu2 {

    border-top-color : #E6FFC2;
    border-top-style : groove;
    border-top-width : 1px; 
    width : 335px;
    padding : 0;

}

.lbutton {
    background-image : url('/tds/img/button.png');
    background-position : top left;
    background-repeat : repeat-x;
}

.lgray {
        background-image : url('/tds/img/line2.png');
}

.mlink:hover {
    background-position : top left;
    cursor : pointer;
    border-width: thin;
    border-style: dashed;
    border-color: #054C0D;
}

.linkst {
    background-position : top left;
    border-width: thin;
    border-style: groove;
    border-color: white;
}

